{% extends 'base.html.twig' %}

{% block title %}Reservas
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	var bDates = [];
	var dates = [];
    $(function(){
		$.ajax({
			method: "GET",
            url: "/reservar_barco/" + {{ id }}
		}).done(function(data){
			fechas = JSON.parse(data)["fechas"];
            error = false;
			if (fechas != undefined) {
				for(let i = 0; i < fechas.length; i++){
					fecha_inicio = new Date(fechas[i].fecha_inicio.date);
					fecha_fin = new Date(fechas[i].fecha_fin.date);
					bDates[i] = {start: new Date(fecha_inicio), end: new Date(fecha_fin)}
					dates = [bDates[i].start.getDate() +'-' + (bDates[i].start.getMonth()+1) + '-'+ bDates[i].start.getFullYear(),bDates[i].end.getDate() +'-' + (bDates[i].end.getMonth()+1) + '-'+ bDates[i].end.getFullYear()]
				}
			}
			
		})

	//var dates = ["20-02-2022", "21-02-2022", "22-02-2022"];
	
	console.log(dates);

	function disableDates(date) {
		var string = $.datepicker.formatDate('dd-mm-yy', date);
		return [dates.indexOf(string) == -1];
	}

	$("#datepicker").datepicker({
		dateFormat: 'dd-mm-yy',
		minDate: 0, //restrict user to choose previous date
		beforeShowDay: disableDates,
	});

	$("#datepicker").change(function(){
			var fecha = $("#datepicker").datepicker("getDate");
			var new_fecha = fecha.getDate() +'-' + (fecha.getMonth()+1) + '-'+ fecha.getFullYear() 

			$("#datepicker2").datepicker({
				dateFormat: 'dd-mm-yy',
				minDate: new_fecha, 
				beforeShowDay: disableDates,
			});
    		
	});
		
	})
</script>

{% endblock %}

{% block body %}
	<div class="site-section">

		<div class="container">
			<div class="row"> 
				{{form(form)}}
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p>Select Date: <input type="text" id="datepicker"></p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p>Select Date: <input type="text" id="datepicker2"></p>
			</div>
		</div>
	</div>
{% endblock %}
