{% extends 'base.html.twig' %}

{% block title %}Reservas
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	var bDates = [];
	var dates = [];
	var error = false;
    $(function(){
		document.getElementById("next").style.display = "none";
		document.getElementById("stop").style.display = "none";
		document.getElementById("pasa").disabled = true;
		var dateRange = [];
		let jsonObject = {};
		$.ajax({
			method: "GET",
            url: "/reservar_barco/" + {{ id }}
		}).done(function(data){
			fechas = JSON.parse(data)["fechas"];
			if (fechas != undefined) {
				for(let i = 0; i < fechas.length; i++){
					fecha_inicio = new Date(fechas[i].fecha_inicio.date);
					fecha_fin = new Date(fechas[i].fecha_fin.date);
					bDates[i] = {start: new Date(fecha_inicio), end: new Date(fecha_fin)}
					
					// populate the array
					for (var d = new Date(fecha_inicio); d <= new Date(fecha_fin); d.setDate(d.getDate() + 1)) {
						dateRange.push($.datepicker.formatDate('mm/dd/yy', d));
					}

					function disableDates(date) {
						var dateString = jQuery.datepicker.formatDate('mm/dd/yy', date);
   						return [dateRange.indexOf(dateString) == -1];
					}
				}
			}

			$("#datepicker").datepicker({
				dateFormat: 'mm/dd/yy',
				minDate: 0, //restrict user to choose previous date
				beforeShowDay: disableDates,
			});

			$("#datepicker").change(function(){
					var fecha = $("#datepicker").datepicker("getDate");
					var new_fecha =  (fecha.getMonth()+1)  + '/' + fecha.getDate()  + '/'+ fecha.getFullYear() 

					$("#datepicker2").datepicker({
						dateFormat: 'mm/dd/yy',
						minDate: new_fecha, 
						beforeShowDay: disableDates,
					});
					
			});

			$("#datepicker2").change(function(){
				var fecha_1 = new Date($("#datepicker").val());
				var fecha_2 = new Date($("#datepicker2").val());
				for (let i = 0; i < bDates.length; i++){
					fecha_inicio = new Date(bDates[i].start)
					fecha_fin = new Date(bDates[i].end)

					if(fecha_inicio <= fecha_1 && fecha_1 <= fecha_fin || fecha_inicio <= fecha_2 && fecha_2 <= fecha_fin || fecha_1 < fecha_inicio && fecha_2 > fecha_fin){
						error = true;
					}else{
						error = false;
					}

				}

				console.log(error);

				if(error == true){
					document.getElementById("next").style.display = "none";
					document.getElementById("stop").style.display = "block";
					document.getElementById("pasa").disabled = true;
				}else{
					var inicio = $("#datepicker").datepicker("getDate");
					var fin = $("#datepicker2").datepicker("getDate");
					var new_fecha_inicio;

					if(inicio.getMonth()+1 < 10){
						new_fecha_inicio = inicio.getFullYear()  + '-' + 0 + (inicio.getMonth()+1)  + '-' + inicio.getDate();
					}else{
						new_fecha_inicio = inicio.getFullYear()  + '-' + (inicio.getMonth()+1)  + '-' + inicio.getDate();
					}

					if(fin.getMonth()+1 < 10){
						new_fecha_fin = fin.getFullYear()  + '-' + 0 + (fin.getMonth()+1)  + '-' + fin.getDate();
					}else{
						new_fecha_fin = fin.getFullYear()  + '-' + (fin.getMonth()+1)  + '-' + fin.getDate();
					}
					
					

					jsonObject = {
						"inicio": new_fecha_inicio,
						"fin": new_fecha_fin
					};

					document.getElementById("stop").style.display = "none";
					document.getElementById("next").style.display = "block";
					document.getElementById("pasa").disabled = false;
					

				}


			});

			$("#pasa").click(function(){
				console.log(jsonObject);
						$.ajax({
							method: "POST",
							url: "/reservar/" + {{ id }},
							dataType: "json",
							data: jsonObject,
						}).done(function(data){
							alert("Reserva Realizda");
						});

					});


		})

	
	
		
	})
</script>

{% endblock %}

{% block body %}
<style>
	#next{
		color:green;
		font-weight:bold;
	}
	#stop{
		color:red;
		font-weight:bold;
	}
</style>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

		<div class="site-wrap">

			<div class="site-mobile-menu site-navbar-target">
				<div class="site-mobile-menu-header">
					<div class="site-mobile-menu-close mt-3">
						<span class="icon-close2 js-menu-toggle"></span>
					</div>
				</div>
				<div class="site-mobile-menu-body"></div>
			</div>


			<div class="header-top bg-light">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-6 col-lg-3 voltereta">
							<a href="{{ path('barco')}}">
								<img
								src="{{ asset('images/logo.png')}}" alt="Image" class="img-fluid">
							<!-- <strong>Water</strong>Boat -->
							</a>
						</div>
						<div class="col-lg-3 d-none d-lg-block">

							<div class="quick-contact-icons d-flex">
								<div class="icon align-self-start">
									<span class="icon-location-arrow text-primary"></span>
								</div>
								<div class="text">
									<span class="h4 d-block">Marbella, Málaga</span>
									<span class="caption-text">Puerto Deportivo Marbella</span>
								</div>
							</div>

						</div>
						<div class="col-lg-3 d-none d-lg-block">
							<div class="quick-contact-icons d-flex">
								<div class="icon align-self-start">
									<span class="icon-phone text-primary"></span>
								</div>
								<div class="text">
									<span class="h4 d-block">000 209 392 312</span>
									<span class="caption-text">Contactanos</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 d-none d-lg-block">
							<div class="quick-contact-icons d-flex">
								<div class="icon align-self-start">
									<span class="icon-envelope text-primary"></span>
								</div>
								<div class="text">
									<span class="h4 d-block">info@gmail.com</span>
									<span class="caption-text">Más información</span>
								</div>
							</div>
						</div>

						<div class="col-6 d-block d-lg-none text-right">
							<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
								<span class="icon-menu h3"></span>
							</a>
						</div>
					</div>
				</div>


			</div>

		</div>
	<div class="site-section">
		<div class="container">
			<div class="row">
				<p>Seleccionar fecha inicio: <input type="text" id="datepicker"></p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p>Seleccionar fecha fin: <input type="text" id="datepicker2"></p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p id="stop">Fecha no disponible</p>
				<p id="next">Fecha disponible</p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<button id="pasa" class="btn btn-primary py-3 px-5">Crear Reserva</button>
			</div>
		</div>
	</div>
</body>
{% endblock %}
